@font-face{
    font-family: 'font-beyno';
    src: url(./Assets/font/BEYNO.ttf);
}
@font-face {
  font-family: 'font-cantarell';
  src: url(./Assets/font/Cantarell.ttf);
}
@font-face {
  font-family: 'font-panthera';
  src: url(./Assets/font/Panthera.ttf);
}
@font-face {
  font-family: 'wakanda';
  src: url(./Assets/font/wakandaforever.ttf);
}
:root{
  --white-color : #fff;
  --pink-light: #F2CEF2;
  --gray-light: #9E91B7;
  --violet-color: #DF99F2;
  --blue-pale: #3D2DA6;
  --blue-color: #07338C;
  --blue-dark: #021740;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to right, #02102a , #182643);
    color: #fff;
  }
   /* design pour l'en-tête de la page */
  .navbar {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-top: 15px;
    width: 90%;
    background: none;
  }
  .nav-item {
    font-family: 'font-beyno', sans-serif;
    font-size: 32px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    background: none;
  }
  .navbar img{
    margin-right: 550px;
    background: none;
  }
  .nav-item:hover {
    color: #DF99F2;
    text-decoration: underline;
  }
  /* design pour la partie personnage du film */
 