@font-face{
    font-family: 'font-beyno';
    src: url(./Assets/font/BEYNO.ttf);
}
@font-face {
  font-family: 'font-cantarell';
  src: url(./Assets/font/Cantarell.ttf);
}
@font-face {
  font-family: 'font-panthera';
  src: url(./Assets/font/Panthera.ttf);
}
@font-face {
  font-family: 'wakanda';
  src: url(./Assets/font/wakandaforever.ttf);
}
:root{
  --white-color : #fff;
  --pink-light: #F2CEF2;
  --gray-light: #9E91B7;
  --violet-color: #DF99F2;
  --blue-pale: #3D2DA6;
  --blue-color: #07338C;
  --blue-dark: #021740;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to right, #020812 , #182643);
    color: #fff;
  }
   /* design pour l'en-tête de la page */
  .navbar {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-top: 15px;
    width: 90%;
    background: none;
  }
  .nav-item {
    font-family: 'font-beyno', sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    background: none;
  }
  .navbar img{
    margin-right: 700px;
    background: none;
  }
  .nav-item:hover {
    color: #DF99F2;
    text-decoration: underline;
  }
  /* design pour la partie personnage du film */
  .wakanda{
    display: flex;
    margin-top: 100px;
    margin-bottom: 0;
  }
  .socialmedia{
    margin-top: 150px;
    margin-left: 50px;
  }
  .socialmedia img{
    height: 20px;
    display: block;
    margin-top: 20px;
  }
  .résumé{
    margin: 100px 50px;
  }
  .résumé h1{
    font-family: 'font-panthera',sans-serif;
    font-size: 45px;
    color: var(--gray-light);
    margin-bottom: 0;
  }
  .résumé h2{
    font-family: 'font-beyno', sans-serif;
    font-size: 20px;
    margin-top: 5px;
    color: var(--gray-light);
  }
  .résumé p{
    font-family: 'font-cantarell',sans-serif;
    font-size: 16px;
  }
  .résumé a{
    font-family: 'font-cantarell', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: var(--white-color);
  }
 .bp{
  height: 650px;
 }

 /* design pour la barre de personnage */

 .personnage{
  display: flex;
  height: 300px;
  background: var(--blue-dark);
  margin-left: 120px;
  margin-top: -70px;
  margin-bottom: 150px;
 }
.killmonger{
  display: flex;
  
}
.killmonger1{
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
}
.killmonger1 h2{
  font-family: 'font-beyno',sans-serif;
  font-size: 16px; 
  color: var(--gray-light);
}
.killmonger1 p{
  font-family: 'font-cantarell', sans-serif;
  font-size: 12px;
}
.killmonger1 a{
  color: var(--white-color);
  font-family: 'font-cantarell';
  font-size: 12px;
}
.okoye{
  display: flex;
}

.okoye1{
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
}
.okoye1 h2{
  font-family: 'font-beyno',sans-serif;
  font-size: 16px; 
  color: var(--gray-light);
}
.okoye1 p{
  font-family: 'font-cantarell', sans-serif;
  font-size: 12px;
}
.okoye1 a{
  color: var(--white-color);
  font-family: 'font-cantarell';
  font-size: 12px;
}
.suri{
  display: flex;
}

/* design pour la description de black panther */

#hero{
  display: flex;
  margin: 100px 200px;
}
.description{
  margin-right: 150px;
  text-align: justify;
}
.description h2{
  text-transform: capitalize;
  color: var(--gray-light);
  font-family: 'font-beyno',sans-serif;
  font-size: 16px;
}
.description p{
  font-family: 'font-cantarell', sans-serif;
  font-size: 12px;
}

/* design pour la carte T'challa */
.tchalla{
  position: relative;
  height: 800px;
  width: 450px;
}
.tchalla1{
  position: absolute;
  left: 15%;
}
.tchalla1 img{
  height: 400px;
}
.tchalla2{
  background-color: var(--white-color);
  width: 300px;
  color: #020812;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 350px;
}

.tchalla2 h2{
  text-align: center;
  font-family: 'cantarell',sans-serif;
  font-size: 16px;
  margin-top: 50px;
}
.nom{
  display: flex;
  justify-content: space-around;
  background-color: var(--blue-pale);
  border-radius: 10px;
  color: var(--white-color);
  padding: 3px 10px;
}
.nom p{
  font-family: 'cantarell', sans-serif;
  font-size: 12px;
}
.propos{
  font-family: 'cantarell',sans-serif;
  font-size: 12px;
  margin-top: 25px;
  margin-bottom: 100px;
}
.busteblack{
  height: 30%;
  margin: 50px auto;
  padding-left: 80px;
}

/* design pour le formulaire */

.formulaire{
  background-image: url(./Assets/img/Pantherhome7.png);
  height: 100vh;
  position: relative;
}
.formulaire1{
  position: absolute;
  background: var(--white-color) ;
  opacity:60%;
  border-radius: 120px;
  display: flex;
  color: #020812;
  flex-direction: column;
  align-items: center;
  top: 35%;
  left: 35%;
  padding: 50px 150px;
}
.btn-group{
  display: flex;
  flex-direction: column;
}
.btn-group input{
  margin: 20px auto;
  border-radius: 20px;
}
.btn-group textarea{
  border-radius: 20px;
}
