@font-face{
    font-family: 'font-beyno';
    src: url(./Assets/font/BEYNO.ttf);
}
@font-face {
  font-family: 'font-cantarell';
  src: url(./Assets/font/Cantarell.ttf);
}
@font-face {
  font-family: 'font-panthera';
  src: url(./Assets/font/Panthera.ttf);
}
@font-face {
  font-family: 'wakanda';
  src: url(./Assets/font/wakandaforever.ttf);
}
:root{
  --white-color : #fff;
  --pink-light: #F2CEF2;
  --gray-light: #9E91B7;
  --violet-color: #DF99F2;
  --blue-pale: #3D2DA6;
  --blue-color: #07338C;
  --blue-dark: #021740;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to right, #020812 , #182643);
    color: #fff;
  }
   /* design pour l'en-tête de la page */
  .navbar {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-top: 15px;
    width: 90%;
    background: none;
  }
  .nav-item {
    font-family: 'font-beyno', sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    background: none;
  }
  .navbar img{
    margin-right: 700px;
    background: none;
  }
  .nav-item:hover {
    color: #DF99F2;
    text-decoration: underline;
  }
  /* design pour la partie personnage du film */
  .wakanda{
    display: flex;
    margin: 100px auto;
  }
  .socialmedia{
    margin-top: 150px;
    margin-left: 50px;
  }
  .socialmedia img{
    height: 20px;
    display: block;
    margin-top: 20px;
  }
  .résumé{
    margin: 100px 50px;
  }
  .résumé h1{
    font-family: 'font-panthera',sans-serif;
    font-size: 45px;
    color: var(--violet-color);
    margin-bottom: 0;
  }
  .résumé h2{
    font-family: 'font-beyno', sans-serif;
    font-size: 20px;
    margin-top: 5px;
    color: var(--violet-color);
  }
  .résumé p{
    font-family: 'font-cantarell',sans-serif;
    font-size: 16px;
  }
  .résumé a{
    font-family: 'font-cantarell', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: var(--white-color);
  }
 .bp{
  height: 650px;
 }

