@font-face {
  font-family: "font-beyno";
  src: url(./Assets/font/BEYNO.ttf);
}
@font-face {
  font-family: "font-cantarell";
  src: url(./Assets/font/Cantarell.ttf);
}
@font-face {
  font-family: "font-panthera";
  src: url(./Assets/font/Panthera.ttf);
}
@font-face {
  font-family: "wakanda";
  src: url(./Assets/font/wakandaforever.ttf);
}
:root {
  --white-color: #fff;
  --pink-light: #f2cef2;
  --gray-light: #9e91b7;
  --violet-color: #df99f2;
  --blue-pale: #3d2da6;
  --blue-color: #07338c;
  --blue-dark: #021740;
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #020812, #182643);
  color: #fff;
}
/* design pour l'en-tête de la page */
.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  margin-top: 15px;
  width: 90%;
  background: none;
}
.nav-item {
  font-family: "font-beyno", sans-serif;
  font-size: 20px;
  color: white;
  text-decoration: none;
  margin-left: 20px;
  background: none;
}
.navbar img {
  margin-right: 700px;
  background: none;
}
.nav-item:hover {
  color: #df99f2;
  text-decoration: underline;
}

/* design pour le grand-titre */

.grand-titre {
  background: url(./Assets/img/Pantherwakanda1.jpg) center/cover;
  height: 550px;
  display: flex;
  flex-direction: column;
  padding-left: 250px;
  padding-top: 450px;
}
.grand-titre h1 {
  width: 500px;
  font-family: "beyno";
  font-size: 48px;
  color: var(--violet-color);
  margin: 0;
}
.grand-titre h2 {
  font-family: "wakanda";
  font-size: 32px;
  color: var(--violet-color);
  width: 500px;
  margin: 0;
}
.grand-titre p {
  font-family: "cantarell";
  font-size: 12px;
  width: 300px;
}
/* design pour les petits titres */

.petit-titre {
  background-image: url(./Assets/img/Pantherwakanda2.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  margin: 100px 150px;
  text-align: justify;
}
.petit-titre h2 {
  font-family: "beyno";
  font-size: 22px;
  color: var(--violet-color);
}
.petit-titre p {
  font-family: "cantarell";
  font-size: 12px;
  padding-right: 100px;
}

.petit-titre1 p {
  padding-right: 200px;
}
.vid-origine {
  height: 300px;
  width: 300px;
  margin: 100px auto;
  background-image: url(./Assets/logo/icon_player.png);
  background-repeat: no-repeat;
}
.image-force img {
  width: 400px;
}

/* Design pour le footer */

.footer1 {
  background: url(./Assets/logo/back_footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  padding-top: 150px;
}
.saynamarvel {
  background-image: url(./Assets/logo/footer1.png);
  background-size: contain;
  transform: scale(1.5);
  background-repeat: no-repeat;
  margin: 120px 100px;
}

.saynamarvel1 {
  max-inline-size: 100%;
  block-size: auto;
  position: relative;
  top: 60px;
  right: 10px;
  transform: scale(0.5);
}

.saynamarvel2 {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding-right: 200px;
}
.saynamarvel3 {
  display: flex;
  font-family: "cantarell";
}
.pages {
  display: flex;
  flex-direction: column;
}
.pages a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--white-color);
  margin-top: 10px;
}
.contactus {
  margin-left: 150px;
}
.contactus a {
  margin-left: 25px;
  background: none;
}
.contactus img {
  width: 30px;
}
.disclamer {
  margin-top: 100px;
}
.disclamer ul {
  display: flex;
}
.disclamer li {
  /* padding-left: 10px; */
  /* list-style: none; */
  padding-right: 20px;
  font-family: "cantarell";
  font-size: 12px;
}
